.post {
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post__header {
  width: 100%;
  padding: 1rem;
}

.post__header h3 {
  font-size: 1.5;
  font-weight: bold;
}

.post__header h4 {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #999;
}

.post__caption {
  width: 100%;
  padding: 1rem;
}

.post__image {
  width: 100%;
}

.post__image img {
  width: 100%;
}

.post__footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.heart-react svg {
  color: #ddd;
  font-size: 2rem;
  cursor: pointer;
}

.heart-react.liked svg {
  color: rgb(227, 51, 80);
}

.post.my-post .post__header {
  display: flex;
  justify-content: space-between;
  color: red;
}

.post.my-post .post__header div {
  cursor: pointer;
}
