/* Importing fonts */
@import url("http://fonts.cdnfonts.com/css/billabong");

/* Importing css variables */
@import "./variables/colors.css";

/* Importing page styles */
@import "./pages/signup-page.css";
@import "./pages/login-page.css";
@import "./pages/index-page.css";
@import "./pages/feed_page.css";

/* Importing components */
@import "./components/layout/landing-header.css";
@import "./components/layout/app-header.css";

.ff-brand {
  font-family: "Billabong", sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
